home/.config/karabiner/automatic_backups
.aider*
home/.config/lazygit/state.yml
home/.config/gcloud/legacy_credentials/sander@aaadataplumbing.com
home/.config/gcloud/logs/2025.04.13
home/.config/gcloud/access_tokens.db
home/.config/gcloud/application_default_credentials.json
home/.config/gcloud/config_sentinel
home/.config/gcloud/credentials.db
home/.config/gcloud/default_configs.db
home/.config/helix/runtime
home/.config/yazi/plugins/glow.yazi
home/.config/gcloud/logs/
home/.config/.wrangler/metrics.json
home/.config/.wrangler/logs
home/.config/aichat/aichat.log
home/.config/fzf-make/history.toml
home/.config/gcloud/legacy_credentials
home/.config/gcloud/surface_data/storage/tracker_files
home/.config/gcloud/*.json
!home/.config/gcloud/.last_survey_prompt.yaml
home/.config/secrets.env
*.bak
*.bak.*
